<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/gui/floor.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,2},{1024,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1024,192}</string>
			</dict>
			<key>res/items/blackboard.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,1162},{116,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,80}</string>
			</dict>
			<key>res/items/blood1.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,1106},{132,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,192}</string>
			</dict>
			<key>res/items/blood2.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,1034},{132,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,192}</string>
			</dict>
			<key>res/items/blood3.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,1034},{132,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,192}</string>
			</dict>
			<key>res/items/blood4.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,1170},{132,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,192}</string>
			</dict>
			<key>res/items/bookcase.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,1190},{104,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,148}</string>
			</dict>
			<key>res/items/chair.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,1462},{56,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,104}</string>
			</dict>
			<key>res/items/coffee.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,1230},{100,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,148}</string>
			</dict>
			<key>res/items/companylogo.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,1306},{116,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,80}</string>
			</dict>
			<key>res/items/doorclosed.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,1018},{104,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,168}</string>
			</dict>
			<key>res/items/dooropen.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,1162},{104,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,168}</string>
			</dict>
			<key>res/items/drawer.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1526},{64,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,88}</string>
			</dict>
			<key>res/items/elevator.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1034},{180,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,168}</string>
			</dict>
			<key>res/items/extinguisher.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,178},{28,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,72}</string>
			</dict>
			<key>res/items/hanger.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,1462},{68,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,88}</string>
			</dict>
			<key>res/items/lamp.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1398},{56,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,136}</string>
			</dict>
			<key>res/items/lighting.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1206},{128,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,172}</string>
			</dict>
			<key>res/items/newsboard.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,1390},{116,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,68}</string>
			</dict>
			<key>res/items/newswall.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,926},{88,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,184}</string>
			</dict>
			<key>res/items/officedesk.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,926},{176,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,120}</string>
			</dict>
			<key>res/items/plant.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1458},{64,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,116}</string>
			</dict>
			<key>res/items/safebox.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,1534},{92,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,52}</string>
			</dict>
			<key>res/items/swordbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,1306},{56,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,160}</string>
			</dict>
			<key>res/items/swordbox_empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1338},{56,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,160}</string>
			</dict>
			<key>res/items/trashcan.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,118},{56,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,48}</string>
			</dict>
			<key>res/items/watermachine.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,2},{40,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,112}</string>
			</dict>
			<key>res/items/window.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,1302},{128,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,136}</string>
			</dict>
			<key>res/gui/button_hit.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,1030},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>res/gui/button_hit_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,2},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>res/gui/button_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,134},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>res/gui/button_left_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,266},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>res/gui/button_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,398},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>res/gui/button_right_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,530},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>res/gui/button_use.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,662},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>res/gui/button_use_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,794},{256,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,128}</string>
			</dict>
			<key>res/gui/card.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,1270},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>res/gui/heart_empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,1270},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>res/gui/heart_full.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,1270},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>res/gui/heart_half.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,1282},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>res/gui/key.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,1342},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>res/gui/score_texture_blood_max.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>res/gui/score_texture_max.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,518},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>res/gui/skull.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,1338},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>spritesheet.png</string>
			<key>realTextureFileName</key>
			<string>spritesheet.png</string>
			<key>size</key>
			<string>{1024,1592}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1592</integer>
		</dict>
	</dict>
</plist>